<!DOCTYPE html>

<head th:insert="librerias::librerias">

</head>

<body>
<div class="container">
	<header>
		<div th:insert="top::top"></div>
	</header>	
	<h1>Nuestros Usuarios</h1>
	<!-- Imprimir tabla de usuarios-->
	<table class="table table-hover">
		<thead class="tabe-dark bg-info text-white">
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Editar</th>
				<th>Borrar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${listaUsuarios.empty}">
				<td colspan="2">No hay usuarios registrados</td>
			</tr>
		</tbody>
	</table>	
</div>
</body>